<div id="header" class="row">
  <p id="header-text">
    Empfaenger
  </p>
</div>
<div class="row">
  <div id="feed-list" class="col-md-1">
  </div>
  <div class="col-md-11" id="feed-content">
  </div>
</div>