#header{
  height: 50px;
  width: 100%;
  background-color: #e9af13;
  color: white;
}

#header-text{
  margin-left: 150px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 28px;
  color: white;
}

.header-text{
  border: 1px solid;
  height:48px;
  width: 48px;
  font-size: 40px;
  color:white;
  font-weight: bold;
  vertical-align: middle;
  text-align: center;
  background: transparent;
}

.podcast-list-item{
  margin: 5px;
  font-size: 16px;
}